
#time{
	position: absolute;
	font-size: 55px;
	font-weight: 700;
	text-shadow: 4px 3px gray;
	height: 20%;
	left: 87%;
	top: 1%;
}

body {
	background-color: #f2f2f2;
}


#downTitles{
	position: absolute;
	font-size: 30px;
	font-weight: 700;
	color: white;
	height: 10%;
	width: 20%;
	left: 10%;
	top: 20%;
	background-color: #252ee5;
	border-radius: 15px;
	text-align: center;
	line-height: 280%;
	outline:none;
}

#add{
	position: absolute;
	font-size: 30px;
	font-weight: 700;
	color: black;
	height: 40%;
	width: 30%;
	left: 10%;
	top: 20%;
	border-radius: 15px;
	outline:none;
}

#post1{
	position: absolute;
	font-size: 20px;
	font-weight: 400;
	color: black;
	height: 20%;
	width: 80%;
	left: 5%;
	top: 60%;
}

#post2 {

	background-color: #F3F0B6;
	color: black;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
    height: 20%;
	width: 8%;
	left: 88%;
	top: 60%;
  
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 20px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #252ee5;
  color: white;
  padding: 14px 20px;
  margin: 2px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #7c25e5;
}

#lab {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

#red {
	position: absolute;
	color: red;
	height: 22%;
	width: 15%;
	left: 99%;
	top: 21.5%;
	opacity: 0;
	font-size: 13px;
	font-weight: 400;
}

#list {
	position: relative;
	background-color: #6DD5F8;
	border-radius: 15px;
	font-size: 30px;
	font-weight: 700;
	color: black;
	min-height: 50%;
	text-align: center;
	width: 40%;
	left: 50%;
	top: 150px;
	bottom: 50px;
	line-height: 200%;
	padding-bottom: 10px;
}

#list2 >div {
	position: relative;
	margin-bottom: 10px;
	background-color: white;
	border-radius: 5px;
	font-size: 16px;
	font-weight: 400;
	color: black;
	min-height: 30px;
	text-align: left;
	width: 80%;
	left: 5%;
	top: 10%;
	word-wrap:break-word;
	line-height: 150%;
	word-spacing: 5px;
}

#oglosz {
	position: absolute;
	background-color: red;
	top: 5%;
	right: -11%;
	width: 5%;
	height: 90%;
}

#end {
	position: absolute;
	bottom: 0;
	height: 30px;
	color: #f2f2f2;
}

#add2{
	position: absolute;
	font-size: 30px;
	font-weight: 700;
	color: black;
	height: 40%;
	width: 30%;
	left: 10%;
	top: 50%;
	border-radius: 15px;
	outline:none;
}

#inputSubmit{
	position: absolute;
	height: 30%;
	left: 10%;
	top: 40%;
	width: 80%;
	font-size: 30px;
	font-weight: 700;
	line-height: 150%;
}

#downTitles:hover{
	background-color: #7c25e5;
}