body {
margin: 0;
padding: 0;
}

#obwodka{
	position: absolute;
	background-image: url(tło.png);
	height: 100%;
	width: 100%;
}

#tlo1{
	position: absolute;
	left: 1.5%;
	top: 2.5%;
	background-color: white;
	height: 95%;
	width: 97%;
	border-top-right-radius: 35% 20%;

}

#tlo2{
	position: absolute;
	background-position: center;
	background-image: url(szkola.png);
	background-size: 80% 100%;
	background-repeat: no-repeat;
	left: 2%;
	top: 7%;
	width: 90%;
	height: 80%;
	opacity: 0.1;
}

#pasek{
	position: absolute;
	transform: skewX( -0deg );
	background-position: center;
	background-image: url(pasek.png);
	background-size: 80% 100%;
	background-repeat: no-repeat;
	left: 20%;
	top: 82%;
	width: 60%;
	height: 13%;
}

#blok {
    position:relative;
        line-height: 150%;
        font-size: 30px;
        background-color:#EEE;
        overflow:hidden;
		left: 1.5%;
			background-position: center;
	background: linear-gradient(to bottom, #0782d7 0%, #7ec3f3 150%);
	background-repeat: no-repeat;
	top: 95%;
	width: 97%;
	height: 5%;
      }

#pasek1{
	position: absolute;
	left: 100%;
	white-space:nowrap;
}

#pasek2{
	position: absolute;
	left: 10px;
	white-space:nowrap;

}

@keyframes przesun
{
    0% { transform:translateX(0); padding-left:110%; }
    100% { transform:translateX(-100%); padding-left:110%; }
}

@-webkit-keyframes przesun /* dla Google Chrome, Safari, Opera 15+ */
{
    0% { -webkit-transform:translateX(0); padding-left:110%; }
    100% { -webkit-transform:translateX(-100%); padding-left:110%; }
}

#czas{
	position: absolute;
	font-size: 55px;
	font-weight: 700;
	text-shadow: 4px 3px gray;
	height: 20%;
	left: 87%;
	top: 1%;
}
